.fadeInAndOut {
    -webkit-animation: fadeinout 6s linear forwards;
    animation: fadeinout 6s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

body {
    background-image: url("./img/original-resize.png");
    font-family: "Cedarville Cursive", cursive;
    font-weight: 300;
    font-style: normal;

}

#venice {
  font-family: "Fredericka the Great", serif;
}
